<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %> 
    <div class="about content">
        <h2>About US</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos illo, excepturi distinctio qui suscipit saepe sunt quibusdam, facere consequatur iure cupiditate, sit omnis eveniet exercitationem vero! Saepe deleniti aspernatur quo.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos illo, excepturi distinctio qui suscipit saepe sunt quibusdam, facere consequatur iure cupiditate, sit omnis eveniet exercitationem vero! Saepe deleniti aspernatur quo.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos illo, excepturi distinctio qui suscipit saepe sunt quibusdam, facere consequatur iure cupiditate, sit omnis eveniet exercitationem vero! Saepe deleniti aspernatur quo.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>